.tree-left {
    float: left;
    display: inline-block;
    margin-left: 4px;
}

.tree-left:nth-child(1) {
    width: 50%;
}

.tree-right {
    float: right;
    display: inline-block;
    margin-left: 4px;
}

.tree-right:nth-child(1) {
    width: 50%;
}

.tree-center {
    clear: both;
    /*float: none;*/
    display: inline-block;
    margin-left: 4px;
}

.box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 3px 10px;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
    margin:10px;
    text-shadow: 1px 1px 2px black;
    color: white;
}

.red {
    border-color: rgb(255, 0, 0);
    background-color: rgb(200, 0, 0);
    display: inline-block;
    width: 12200px;
}

.green {
    border-color: rgb(0, 255, 0);
    background-color: rgb(0, 200, 0);
    display: inline-block;
    width: 13000px;
}

.blue {
    border-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 200);
    display: inline-block;
    width: 30000px;
}