body {
    background-image: url("images/paper-background-5.jpg");
    background-repeat: repeat;
}

span {
    font-style: italic;
}

p {
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5em;
}

table {
    text-align: left;
    background-color: #f2f2f2;
    border: solid 2px black;
    border-collapse: collapse;
    border-radius: 6px;
    margin: 0px auto;
}

td {
    border: solid 1px black;
    padding: 10px;
}

td:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}

th {
    text-align: center;
    padding: 10px;
}

th:first-of-type {
    text-transform: uppercase;
}

pre {
    color: #f2f2f2;
    background-color: #000000;
    padding: 20px;
    border: solid 1px black;
    border-radius: 3px;
}

img {
    vertical-align: -100px;
    width: 40%;
}

.animate {
    transition-duration: 1s;
}

p.animate:hover {
    animation: hoverText 2s forwards;
}


p.animate:hover img {
    animation: moveImg 2s forwards;
}

a {
    text-decoration: none;
}


a:visited {
    color: black;
}

a:hover {
    color: #002266;
}

#hideMe pre {
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

#hideMe span {
    display: none;
    /*position: relative;*/
    /*right: 130px;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#mainContent {
    width: 700px;
    margin: 0px auto;
    text-align: center;
}

@keyframes hoverText {
    from {
        text-shadow: none;
        transform: none;
    }
    to {
        text-shadow: grey 4px 6px 3px;
        transform: scale(1.2);
    }
}

@keyframes moveImg {
    from {
        top: 0px;
        box-shadow: none;
    }
    to {
        top: -40px;
        box-shadow: grey 4px 6px 3px;
    }
}